<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">

    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'home.css') }}">

    <nav class="navbar navbar-default">
        <img class="logo" src="{{ url_for('static', filename = 'mangamop_icon.png') }}" />
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</smpan>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">MANGAMOP</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">SERVICES</a></li>
                    <li><a href="#">BIOS</a></li>
                    <li><a href="#">CONTACT</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

</head>
<body>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <main class="main_full">
        <div class="container">
            <div class="panel">
                <div class="button_outer">
                    <div class="btn_upload">
                        <input type="file" id="upload_file" name="">
                            Upload Image
                    </div>
                    <div class="processing_bar"></div>
                    <div class="success_box"></div>
                </div>
            </div>
            <div class="error_msg"></div>
            <div class="uploaded_file_view" id="uploaded_view">
                <span class="file_remove">X</span>
            </div>
        </div>
    </main>
    <script src="{{ url_for('static', filename = 'imageUpload.js') }}"></script>
</body>
</html>